* {
  box-sizing: border-box;
}
.image-box {
  width: 24rem;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}
img {
  width: 80%;
  height: 15rem;
}
h1 {
  text-align: center;
}
.card {
  background-color: #b5bebe;
  margin-bottom: 5rem;
  height: 28rem;
}
@media only screen and (min-width: 1023px) {
  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card {
    width: 24rem;
  }
}
